@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.t1 {
    text-align: center;
    color: #333333;
}

li {
    color:#17202A ;
}

.tabla{
   width: 600px;
   text-align: center;
   display:flexbox; justify-content: center;
   margin: 2px;
}

.tabla th{
   text-align: center;
   
}
table {
   border: 1px solid black;
 }
 
 th, td {
   border: 1px solid gray;
 }