#navegador ul{
    list-style-type: none;
    text-align: center;
 }

#navegador li{
    display: inline;
    text-align: center;
 }

 #navegador li a {
    padding: 5px 10px 5px 10px;
    color: #333333;
    background-color:#D5F5E3;
    border:  1px solid #333333;
    text-decoration: none;
 }

 #navegador li a:hover{
    background-color: #333333;
    color: #ffffff;
 }
 
 .t1 {
    text-align: center;
    color: #333333;
 }

 li {
    color:#17202A ;
    
 }