@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

#navegador ul{
    list-style-type: none;
    text-align: center;
}

#navegador li{
    display: inline;
    text-align: center;
}

#navegador li a {
    padding: 30px 60px 30px 60px;
    color: white;
    background-image: linear-gradient(to right, #98ec64,#a7e47f );
    text-decoration: none;
    border-radius: 10px;
}

#navegador li a:hover{
    background-color: #ffffff;
    color: #ffffff;
}

.t1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

li {
    color:#17202A ;
}

body {
    background-image: linear-gradient(to right, #145A32 ,#59D20A );
    height: 200px;
  }

  Usar unidades relativas: Usa unidades relativas como em y rem en lugar de unidades absolutas como px para que los estilos se adapten a diferentes tamaños de pantalla.

  position: Define la posición de un elemento en el layout.
  top: Posiciona un elemento desde la parte superior del contenedor.
  right: Posiciona un elemento desde la derecha del contenedor.
  bottom: Posiciona un elemento desde la parte inferior del contenedor.
  left: Posiciona un elemento desde la izquierda del contenedor.
  z-index: Define el orden de apilamiento de los elementos.
  Dimensiones:
  
  width: Define el ancho de un elemento.
  height: Define la altura de un elemento.
  max-width: Define el ancho máximo de un elemento.
  max-height: Define la altura máxima de un elemento.
  min-width: Define el ancho mínimo de un elemento.
  min-height: Define la altura mínima de un elemento.
  Márgenes y paddings:
  
  margin: Define el margen alrededor de un elemento.
  margin-top: Define el margen superior de un elemento.
  margin-right: Define el margen derecho de un elemento.
  margin-bottom: Define el margen inferior de un elemento.
  margin-left: Define el margen izquierdo de un elemento.
  padding: Define el espacio entre el borde y el contenido de un elemento.
  padding-top: Define el espacio entre el borde superior y el contenido de un elemento.
  padding-right: Define el espacio entre el borde derecho y el contenido de un elemento.
  padding-bottom: Define el espacio entre el borde inferior y el contenido de un elemento.
  padding-left: Define el espacio entre el borde izquierdo y el contenido de un elemento.
  Colores:
  
  color: Define el color del texto de un elemento.
  background-color: Define el color de fondo de un elemento.
  Tipografía:
  
  font-family: Define la familia de fuentes de un elemento.
  font-size: Define el tamaño de la fuente de un elemento.
  font-weight: Define el grosor de la fuente de un elemento.
  font-style: Define el estilo de la fuente de un elemento (normal, cursiva, etc.).
  Decoración:
  
  text-decoration: Define la decoración del texto de un elemento (subrayado, línea, etc.).
  border: Define el