@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto+Condensed:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(to right, #145A32, #59D20A);
}

#navegador ul{
    list-style-type: none;
    text-align: center;
}

#navegador li{
    display: inline;
    text-align: center;
}

#navegador li a {
    padding: 30px 60px 30px 60px;
    color: white;
    background-image: linear-gradient(to right, #98ec64,#a7e47f );
    text-decoration: none;
    border-radius: 10px;
}

#navegador li a:hover{
    background-color: #ffffff;
    color: #ffffff;
}

.t1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

li {
    color:#17202A ;
}

 .tabla{
   width: 600px;
   text-align: center;
   display:flexbox; justify-content: center;
   margin: 2px;
}

.tabla th{
   text-align: center;
   
}

table {
   border: 1px solid black;
}
 
th, td {
   border: 1px solid gray;
} 

h2 {
    text-align: center;
}

button {
    background-color: #59D20A;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

